@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "shadows";
@import "colors";
@import "typography";
@import "animations";
@import "scrollbar";
@import "borders";
@import "position";

@import "components/banner";
@import "components/button";
@import "components/card";
@import "components/checkbox";
@import "components/checkmark";
@import "components/chip";
@import "components/color-picker";
@import "components/date";
@import "components/icon";
@import "components/img";
@import "components/input";
@import "components/item";
@import "components/layout";
@import "components/menu";
@import "components/notification";
@import "components/shortcut";
@import "components/tooltip";

body {
  font-family: 'Inter', sans-serif;
  background: $grey-3;
  font-weight: 400;
}

html, body {
  touch-action: manipulation;
  -ms-content-zooming: none;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

/*
 * container
 */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}

/*
 * paddings
 */
.q-pa-3xs {
  padding: 12px;
}

.q-px-3xs {
  padding-left: 12px;
  padding-right: 12px;
}

.q-py-3xs {
  padding-top: 12px;
  padding-bottom: 12px;
}

.q-pt-3xs {
  padding-top: 12px;
}

.q-pb-3xs {
  padding-bottom: 12px;
}

.q-pl-3xs {
  padding-left: 12px;
}

.q-pr-3xs {
  padding-right: 12px;
}

/*
 * margins
 */
.q-ma-3xs {
  margin: 12px;
}

.q-mx-3xs {
  margin-left: 12px;
  margin-right: 12px;
}

.q-my-3xs {
  margin-top: 12px;
  margin-bottom: 12px;
}

.q-mt-3xs {
  margin-top: 12px;
}

.q-mb-3xs {
  margin-bottom: 12px;
}

.q-ml-3xs {
  margin-left: 12px;
}

.q-mr-3xs {
  margin-right: 12px;
}

/*
 * cursors
 */
.cursor-default {
  cursor: default !important;
}
