@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: $grey-2;
}

html, body {
  touch-action: manipulation;
  -ms-content-zooming: none;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/*
 * hover animation (fix)
 */
.q-focus-helper {
  &:before, &:after {
    transition: none !important;
  }
}

/*
 * container
 */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}

/*
 * link
 */
a, .link {
  color: $primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;

    &.q-item, &.q-btn {
      text-decoration: none;
    }

  }
}

/*
 * q-item
 */
.q-item {
  border-radius: 6px;
}

/*
 * button
 */
.q-btn, .q-btn-group {
  border-radius: 8px;
}

.q-btn--bordered {
  border: 1.5px solid currentColor;
}

/*
 * input
 */
.q-field--outlined .q-field__control {
  border-radius: 6px;
}

.q-field__marginal {
  color: $grey-5;
}

.q-field__label {
  color: $grey-5;
}

/*
 * menu
 */
.q-menu {
  border-radius: 8px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}

/*
 * checkbox
 */
.q-checkbox__bg {
  border-radius: 4px;
}

.q-toggle__inner--truthy .q-toggle__track {
  opacity: 1;
}

.q-toggle__inner--truthy .q-toggle__thumb .q-icon{
    color: $primary;
}

.q-toggle__inner {
  height: 100%;
}

.q-toggle__track {
  height: .5em;
  border-radius: 20px;
}

.q-toggle__thumb {
  width: 0.4em;
  height: 0.4em;
  top: 0.375em;
  left: 0.35em;
}

.q-toggle__inner--truthy .q-toggle__thumb:after {
  background: $white;
}

/*
 * tooltip
 */
.q-tooltip {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  border-radius: 8px;
  padding: 8px;
}

.q-tooltip--style {
  overflow-x: visible;
  overflow-y: visible;
  &::before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
  }
  &.arrow-top::before {
    border-bottom-color: $black;
    left: 50%;
    top: -10px;
    margin-left: -5px;
  }
  &.arrow-left::before {
    border-right-color: $black;
    top: 50%;
    left: -10px;
    margin-top: -5px;
  }
  &.arrow-right::before {
    border-left-color: $black;
    top: 50%;
    right: -10px;
    margin-top: -5px;
  }
  &.arrow-bottom::before {
    border-top-color: $black;
    left: 50%;
    bottom: -10px;
    margin-left: -5px;
  }
}

/*
 * calendar
 */
.q-date {
  border-radius: 8px;
}

.q-date__calendar-item > div, .q-date__calendar-item button {
  border-radius: 4px;
}

/*
 * layout elevated
 */
.q-layout__shadow:after {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

/*
 * typography
 */
.text-semibold {
  font-weight: 600;
}

.text-h7 {
  font-size: 16px;
}

/*
 * notification
 */
.q-notification {
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  font-weight: 600;
  font-size: 12px;
}

.q-notification__badge {
  background: $black;
  color: $white;
  box-shadow: none;
}

/*
 * card
 */
.q-card {
  border-radius: 8px !important;
}

/*
 * icon
 */
.q-icon{
  font-weight: 100;
}

/*
 * banner
 */
.q-banner {
  border-radius: 8px;
}

/*
 * color picker
 */
.q-color-picker {
  box-shadow: none;
}

.q-color-picker__footer .q-tab--inactive {
  color: $grey;
  background: transparent;
}

.q-color-picker .q-tab--active {
  box-shadow: none;
}


/*
 * shortcut
 */
.shortcut {
  div {
    background: $grey-2;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    color: $black;
  }
}

/*
 * hidden scrollbar
 */
.scroll--hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll--hidden::-webkit-scrollbar {
  display: none;
}

/*
 * q-chip
 */
.q-chip--clickable:focus {
  box-shadow: none !important;
}

/*
 * pulse
 */
@keyframes pulse {
  0%,
  50% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  90% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.pulse {
  animation: pulse 4s infinite;
  transition: 0.2s;
}

/*
 * q-img
 */
.q-img__container {
  border-radius: initial;
}

/*
 * checkmark
 */
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $green-5;
  fill: $positive;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0 auto 16px auto;
  box-shadow: inset 0 0 0 $green-5;
  animation: fill 0.4s ease-in-out 0.4s forwards,
  scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px $green-5;
  }
}
