.round-borders {
  border-radius: 50% !important;
}

.rounded-md {
  border-radius: 16px !important;
}

.rounded-3xs {
  border-radius: 12px !important;
}

.rounded-sm {
  border-radius: 8px !important;
}
