.round-borders {
  border-radius: 50% !important;
}

.rounded-lg {
  border-radius: 24px !important;
}

.rounded-md {
  border-radius: 16px !important;
}

.rounded-3xs {
  border-radius: 12px !important;
}

.rounded-sm {
  border-radius: 6px !important;
}

.rounded-xs {
  border-radius: 4px !important;
}

.rounded-none {
  border-radius: 0 !important;
}
