.text-xs {
  font-size: 0.5rem;
  line-height: 0.875rem;
}

.text-caption {
  font-size: 0.688rem;
  line-height: 1.063rem;
}

.text-12 {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.text-13 {
  font-size: 0.813rem;
  line-height: 1.188rem;
}

.text-14 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-16 {
  font-size: 1rem;
  line-height: 1.375rem;
}

.text-18 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.text-20 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.text-28 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}

.text-30 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-h4 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

/*
 * decorations
 */
.text-no-decorations {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

/*
 * weight
 */
.text-semibold {
  font-weight: 600;
}

/*
 * link
 */
a, .link {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;

  &:hover {
    text-decoration: underline;

    &.link--no-decorations {
      text-decoration: none;
      opacity: 0.7;
    }

    &.q-item, &.q-btn {
      text-decoration: none;
    }
  }

  &.link--no-decorations {
    text-decoration: none;
  }
}
