.q-checkbox__bg {
  border-radius: 4px;
}

.q-toggle__inner--truthy .q-toggle__track {
  opacity: 1;
}

.q-toggle__inner--truthy .q-toggle__thumb .q-icon{
  color: $primary;
}

.q-toggle__inner {
  height: 100%;
}

.q-toggle__track {
  height: .5em;
  border-radius: 20px;
}

.q-toggle__thumb {
  width: 0.4em;
  height: 0.4em;
  top: 0.375em;
  left: 0.35em;
}

.q-toggle__inner--truthy .q-toggle__thumb:after {
  background: $white;
}
