.q-color-picker {
  box-shadow: none;
  max-width: 200px;

  .q-slider {
    width: 100% !important;
  }
}

.q-color-picker__footer .q-tab--inactive {
  color: $grey;
  background: transparent;
}

.q-color-picker .q-tab--active {
  box-shadow: none;
  background: $grey-2;
  border-radius: 4px;
}
