/*
 * input
 */
.q-field--outlined .q-field__control {
  border-radius: 6px;
  box-shadow: 0 1.5px 4px -1px rgba(10, 9, 11, 0.07) !important;
}

.q-field__marginal {
  color: $grey;
}

.q-field__label {
  color: $grey;
}

