.q-menu {
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 0 0 1px rgba(10, 9, 11, 0.05),
              0 6px 16px 0 rgba(10, 9, 11, 0.08) !important;

  .q-item {
    border-radius: 4px;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
