.q-notification {
  border-radius: 12px;
  box-shadow: none;
  border: 1px solid $grey-2;
  background: $white;
  color: $secondary !important;
  font-weight: 600;
  font-size: 0.75rem;
  height: 32px;
}

.q-notification__badge {
  background: $secondary;
  color: $white;
  box-shadow: none;
}
