@font-face {
    font-family: "icons";
    src: url("./icons.woff?c012d950cec3921d9b667f58b63194ad") format("woff"),
url("./icons.woff2?c012d950cec3921d9b667f58b63194ad") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
    content: "\f101";
}
