@font-face {
    font-family: "icons";
    src: url("./icons.woff?9caaffa410203e24c8aa93f99c76f653") format("woff"),
url("./icons.woff2?9caaffa410203e24c8aa93f99c76f653") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: "\f101";
}
.icon-add_reaction:before {
    content: "\f102";
}
.icon-bolt:before {
    content: "\f103";
}
.icon-download:before {
    content: "\f104";
}
.icon-eraser_off:before {
    content: "\f105";
}
.icon-eraser:before {
    content: "\f106";
}
.icon-folder_add:before {
    content: "\f107";
}
.icon-folder_move:before {
    content: "\f108";
}
.icon-format_bold:before {
    content: "\f109";
}
.icon-format_italic:before {
    content: "\f10a";
}
.icon-format_strikethough_s:before {
    content: "\f10b";
}
.icon-format_underlined:before {
    content: "\f10c";
}
.icon-heart:before {
    content: "\f10d";
}
.icon-home:before {
    content: "\f10e";
}
.icon-image_add:before {
    content: "\f10f";
}
.icon-image_edit:before {
    content: "\f110";
}
.icon-insert_text:before {
    content: "\f111";
}
.icon-label_important:before {
    content: "\f112";
}
.icon-leaderboard:before {
    content: "\f113";
}
.icon-logout:before {
    content: "\f114";
}
.icon-mdi_border_color_bottom:before {
    content: "\f115";
}
.icon-mdi_border_color_top:before {
    content: "\f116";
}
.icon-mdi_format_color_bottom:before {
    content: "\f117";
}
.icon-mdi_format_color_fill_bottom:before {
    content: "\f118";
}
.icon-mdi_format_color_fill_top:before {
    content: "\f119";
}
.icon-mdi_format_color_top:before {
    content: "\f11a";
}
.icon-olive-branches-award:before {
    content: "\f11b";
}
.icon-page_info:before {
    content: "\f11c";
}
.icon-presentation:before {
    content: "\f11d";
}
.icon-profile_group:before {
    content: "\f11e";
}
.icon-shadow:before {
    content: "\f11f";
}
.icon-shape_line:before {
    content: "\f120";
}
.icon-space_dashboard:before {
    content: "\f121";
}
.icon-thumb-down-circular:before {
    content: "\f122";
}
.icon-triangle:before {
    content: "\f123";
}
.icon-unsplash:before {
    content: "\f124";
}
.icon-upload:before {
    content: "\f125";
}
