@font-face {
    font-family: "icons";
    src: url("./icons.woff?e30add2a5bdeecc002e89e7c0141a975") format("woff"),
url("./icons.woff2?e30add2a5bdeecc002e89e7c0141a975") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Activity:before {
    content: "\f101";
}
.icon-AddressBook:before {
    content: "\f102";
}
.icon-Airplane:before {
    content: "\f103";
}
.icon-AirplaneInFlight:before {
    content: "\f104";
}
.icon-AirplaneLanding:before {
    content: "\f105";
}
.icon-AirplaneTakeoff:before {
    content: "\f106";
}
.icon-AirplaneTilt:before {
    content: "\f107";
}
.icon-Airplay:before {
    content: "\f108";
}
.icon-Alarm:before {
    content: "\f109";
}
.icon-Alien:before {
    content: "\f10a";
}
.icon-AlignBottom:before {
    content: "\f10b";
}
.icon-AlignBottomSimple:before {
    content: "\f10c";
}
.icon-AlignCenterHorizontal:before {
    content: "\f10d";
}
.icon-AlignCenterHorizontalSimple:before {
    content: "\f10e";
}
.icon-AlignCenterVertical:before {
    content: "\f10f";
}
.icon-AlignCenterVerticalSimple:before {
    content: "\f110";
}
.icon-AlignLeft:before {
    content: "\f111";
}
.icon-AlignLeftSimple:before {
    content: "\f112";
}
.icon-AlignRight:before {
    content: "\f113";
}
.icon-AlignRightSimple:before {
    content: "\f114";
}
.icon-AlignTop:before {
    content: "\f115";
}
.icon-AlignTopSimple:before {
    content: "\f116";
}
.icon-Anchor:before {
    content: "\f117";
}
.icon-AnchorSimple:before {
    content: "\f118";
}
.icon-AndroidLogo:before {
    content: "\f119";
}
.icon-AngularLogo:before {
    content: "\f11a";
}
.icon-Aperture:before {
    content: "\f11b";
}
.icon-AppleLogo:before {
    content: "\f11c";
}
.icon-ApplePodcastsLogo:before {
    content: "\f11d";
}
.icon-AppStoreLogo:before {
    content: "\f11e";
}
.icon-AppWindow:before {
    content: "\f11f";
}
.icon-Archive:before {
    content: "\f120";
}
.icon-ArchiveBox:before {
    content: "\f121";
}
.icon-ArchiveTray:before {
    content: "\f122";
}
.icon-Armchair:before {
    content: "\f123";
}
.icon-ArrowArcLeft:before {
    content: "\f124";
}
.icon-ArrowArcRight:before {
    content: "\f125";
}
.icon-ArrowBendDoubleUpLeft:before {
    content: "\f126";
}
.icon-ArrowBendDoubleUpRight:before {
    content: "\f127";
}
.icon-ArrowBendDownLeft:before {
    content: "\f128";
}
.icon-ArrowBendDownRight:before {
    content: "\f129";
}
.icon-ArrowBendLeftDown:before {
    content: "\f12a";
}
.icon-ArrowBendLeftUp:before {
    content: "\f12b";
}
.icon-ArrowBendRightDown:before {
    content: "\f12c";
}
.icon-ArrowBendRightUp:before {
    content: "\f12d";
}
.icon-ArrowBendUpLeft:before {
    content: "\f12e";
}
.icon-ArrowBendUpRight:before {
    content: "\f12f";
}
.icon-ArrowCircleDown:before {
    content: "\f130";
}
.icon-ArrowCircleDownLeft:before {
    content: "\f131";
}
.icon-ArrowCircleDownRight:before {
    content: "\f132";
}
.icon-ArrowCircleLeft:before {
    content: "\f133";
}
.icon-ArrowCircleRight:before {
    content: "\f134";
}
.icon-ArrowCircleUp:before {
    content: "\f135";
}
.icon-ArrowCircleUpLeft:before {
    content: "\f136";
}
.icon-ArrowCircleUpRight:before {
    content: "\f137";
}
.icon-ArrowClockwise:before {
    content: "\f138";
}
.icon-ArrowCounterClockwise:before {
    content: "\f139";
}
.icon-ArrowDown:before {
    content: "\f13a";
}
.icon-ArrowDownLeft:before {
    content: "\f13b";
}
.icon-ArrowDownRight:before {
    content: "\f13c";
}
.icon-ArrowElbowDownLeft:before {
    content: "\f13d";
}
.icon-ArrowElbowDownRight:before {
    content: "\f13e";
}
.icon-ArrowElbowLeft:before {
    content: "\f13f";
}
.icon-ArrowElbowLeftDown:before {
    content: "\f140";
}
.icon-ArrowElbowLeftUp:before {
    content: "\f141";
}
.icon-ArrowElbowRight:before {
    content: "\f142";
}
.icon-ArrowElbowRightDown:before {
    content: "\f143";
}
.icon-ArrowElbowRightUp:before {
    content: "\f144";
}
.icon-ArrowElbowUpLeft:before {
    content: "\f145";
}
.icon-ArrowElbowUpRight:before {
    content: "\f146";
}
.icon-ArrowFatDown:before {
    content: "\f147";
}
.icon-ArrowFatLeft:before {
    content: "\f148";
}
.icon-ArrowFatLineDown:before {
    content: "\f149";
}
.icon-ArrowFatLineLeft:before {
    content: "\f14a";
}
.icon-ArrowFatLineRight:before {
    content: "\f14b";
}
.icon-ArrowFatLinesDown:before {
    content: "\f14c";
}
.icon-ArrowFatLinesLeft:before {
    content: "\f14d";
}
.icon-ArrowFatLinesRight:before {
    content: "\f14e";
}
.icon-ArrowFatLinesUp:before {
    content: "\f14f";
}
.icon-ArrowFatLineUp:before {
    content: "\f150";
}
.icon-ArrowFatRight:before {
    content: "\f151";
}
.icon-ArrowFatUp:before {
    content: "\f152";
}
.icon-ArrowLeft:before {
    content: "\f153";
}
.icon-ArrowLineDown:before {
    content: "\f154";
}
.icon-ArrowLineDownLeft:before {
    content: "\f155";
}
.icon-ArrowLineDownRight:before {
    content: "\f156";
}
.icon-ArrowLineLeft:before {
    content: "\f157";
}
.icon-ArrowLineRight:before {
    content: "\f158";
}
.icon-ArrowLineUp:before {
    content: "\f159";
}
.icon-ArrowLineUpLeft:before {
    content: "\f15a";
}
.icon-ArrowLineUpRight:before {
    content: "\f15b";
}
.icon-ArrowRight:before {
    content: "\f15c";
}
.icon-ArrowsClockwise:before {
    content: "\f15d";
}
.icon-ArrowsCounterClockwise:before {
    content: "\f15e";
}
.icon-ArrowsDownUp:before {
    content: "\f15f";
}
.icon-ArrowsHorizontal:before {
    content: "\f160";
}
.icon-ArrowsIn:before {
    content: "\f161";
}
.icon-ArrowsInCardinal:before {
    content: "\f162";
}
.icon-ArrowsInLineHorizontal:before {
    content: "\f163";
}
.icon-ArrowsInLineVertical:before {
    content: "\f164";
}
.icon-ArrowsInSimple:before {
    content: "\f165";
}
.icon-ArrowsLeftRight:before {
    content: "\f166";
}
.icon-ArrowsOut:before {
    content: "\f167";
}
.icon-ArrowsOutCardinal:before {
    content: "\f168";
}
.icon-ArrowsOutLineHorizontal:before {
    content: "\f169";
}
.icon-ArrowsOutLineVertical:before {
    content: "\f16a";
}
.icon-ArrowsOutSimple:before {
    content: "\f16b";
}
.icon-ArrowSquareDown:before {
    content: "\f16c";
}
.icon-ArrowSquareDownLeft:before {
    content: "\f16d";
}
.icon-ArrowSquareDownRight:before {
    content: "\f16e";
}
.icon-ArrowSquareIn:before {
    content: "\f16f";
}
.icon-ArrowSquareLeft:before {
    content: "\f170";
}
.icon-ArrowSquareOut:before {
    content: "\f171";
}
.icon-ArrowSquareRight:before {
    content: "\f172";
}
.icon-ArrowSquareUp:before {
    content: "\f173";
}
.icon-ArrowSquareUpLeft:before {
    content: "\f174";
}
.icon-ArrowSquareUpRight:before {
    content: "\f175";
}
.icon-ArrowsVertical:before {
    content: "\f176";
}
.icon-ArrowUDownLeft:before {
    content: "\f177";
}
.icon-ArrowUDownRight:before {
    content: "\f178";
}
.icon-ArrowULeftDown:before {
    content: "\f179";
}
.icon-ArrowULeftUp:before {
    content: "\f17a";
}
.icon-ArrowUp:before {
    content: "\f17b";
}
.icon-ArrowUpLeft:before {
    content: "\f17c";
}
.icon-ArrowUpRight:before {
    content: "\f17d";
}
.icon-ArrowURightDown:before {
    content: "\f17e";
}
.icon-ArrowURightUp:before {
    content: "\f17f";
}
.icon-ArrowUUpLeft:before {
    content: "\f180";
}
.icon-ArrowUUpRight:before {
    content: "\f181";
}
.icon-Article:before {
    content: "\f182";
}
.icon-ArticleMedium:before {
    content: "\f183";
}
.icon-ArticleNyTimes:before {
    content: "\f184";
}
.icon-Asterisk:before {
    content: "\f185";
}
.icon-AsteriskSimple:before {
    content: "\f186";
}
.icon-At:before {
    content: "\f187";
}
.icon-Atom:before {
    content: "\f188";
}
.icon-Baby:before {
    content: "\f189";
}
.icon-Backpack:before {
    content: "\f18a";
}
.icon-Backspace:before {
    content: "\f18b";
}
.icon-Bag:before {
    content: "\f18c";
}
.icon-BagSimple:before {
    content: "\f18d";
}
.icon-Balloon:before {
    content: "\f18e";
}
.icon-Bandaids:before {
    content: "\f18f";
}
.icon-Bank:before {
    content: "\f190";
}
.icon-Barbell:before {
    content: "\f191";
}
.icon-Barcode:before {
    content: "\f192";
}
.icon-Barricade:before {
    content: "\f193";
}
.icon-Baseball:before {
    content: "\f194";
}
.icon-Basketball:before {
    content: "\f195";
}
.icon-Bathtub:before {
    content: "\f196";
}
.icon-BatteryCharging:before {
    content: "\f197";
}
.icon-BatteryChargingVertical:before {
    content: "\f198";
}
.icon-BatteryEmpty:before {
    content: "\f199";
}
.icon-BatteryFull:before {
    content: "\f19a";
}
.icon-BatteryHigh:before {
    content: "\f19b";
}
.icon-BatteryLow:before {
    content: "\f19c";
}
.icon-BatteryMedium:before {
    content: "\f19d";
}
.icon-BatteryPlus:before {
    content: "\f19e";
}
.icon-BatteryWarning:before {
    content: "\f19f";
}
.icon-BatteryWarningVertical:before {
    content: "\f1a0";
}
.icon-Bed:before {
    content: "\f1a1";
}
.icon-BeerBottle:before {
    content: "\f1a2";
}
.icon-BehanceLogo:before {
    content: "\f1a3";
}
.icon-Bell:before {
    content: "\f1a4";
}
.icon-BellRinging:before {
    content: "\f1a5";
}
.icon-BellSimple:before {
    content: "\f1a6";
}
.icon-BellSimpleRinging:before {
    content: "\f1a7";
}
.icon-BellSimpleSlash:before {
    content: "\f1a8";
}
.icon-BellSimpleZ:before {
    content: "\f1a9";
}
.icon-BellSlash:before {
    content: "\f1aa";
}
.icon-BellZ:before {
    content: "\f1ab";
}
.icon-BezierCurve:before {
    content: "\f1ac";
}
.icon-Bicycle:before {
    content: "\f1ad";
}
.icon-Binoculars:before {
    content: "\f1ae";
}
.icon-Bird:before {
    content: "\f1af";
}
.icon-Bluetooth:before {
    content: "\f1b0";
}
.icon-BluetoothConnected:before {
    content: "\f1b1";
}
.icon-BluetoothSlash:before {
    content: "\f1b2";
}
.icon-BluetoothX:before {
    content: "\f1b3";
}
.icon-Boat:before {
    content: "\f1b4";
}
.icon-Book:before {
    content: "\f1b5";
}
.icon-BookBookmark:before {
    content: "\f1b6";
}
.icon-Bookmark:before {
    content: "\f1b7";
}
.icon-Bookmarks:before {
    content: "\f1b8";
}
.icon-BookmarkSimple:before {
    content: "\f1b9";
}
.icon-BookmarksSimple:before {
    content: "\f1ba";
}
.icon-BookOpen:before {
    content: "\f1bb";
}
.icon-Books:before {
    content: "\f1bc";
}
.icon-BoundingBox:before {
    content: "\f1bd";
}
.icon-BracketsAngle:before {
    content: "\f1be";
}
.icon-BracketsCurly:before {
    content: "\f1bf";
}
.icon-BracketsRound:before {
    content: "\f1c0";
}
.icon-BracketsSquare:before {
    content: "\f1c1";
}
.icon-Brain:before {
    content: "\f1c2";
}
.icon-Brandy:before {
    content: "\f1c3";
}
.icon-Briefcase:before {
    content: "\f1c4";
}
.icon-BriefcaseMetal:before {
    content: "\f1c5";
}
.icon-Broadcast:before {
    content: "\f1c6";
}
.icon-Browser:before {
    content: "\f1c7";
}
.icon-Browsers:before {
    content: "\f1c8";
}
.icon-Bug:before {
    content: "\f1c9";
}
.icon-BugBeetle:before {
    content: "\f1ca";
}
.icon-BugDroid:before {
    content: "\f1cb";
}
.icon-Buildings:before {
    content: "\f1cc";
}
.icon-Bus:before {
    content: "\f1cd";
}
.icon-Butterfly:before {
    content: "\f1ce";
}
.icon-Cactus:before {
    content: "\f1cf";
}
.icon-Cake:before {
    content: "\f1d0";
}
.icon-Calculator:before {
    content: "\f1d1";
}
.icon-Calendar:before {
    content: "\f1d2";
}
.icon-CalendarBlank:before {
    content: "\f1d3";
}
.icon-CalendarCheck:before {
    content: "\f1d4";
}
.icon-CalendarPlus:before {
    content: "\f1d5";
}
.icon-CalendarX:before {
    content: "\f1d6";
}
.icon-Camera:before {
    content: "\f1d7";
}
.icon-CameraRotate:before {
    content: "\f1d8";
}
.icon-CameraSlash:before {
    content: "\f1d9";
}
.icon-Campfire:before {
    content: "\f1da";
}
.icon-Car:before {
    content: "\f1db";
}
.icon-Cardholder:before {
    content: "\f1dc";
}
.icon-Cards:before {
    content: "\f1dd";
}
.icon-CaretCircleDoubleDown:before {
    content: "\f1de";
}
.icon-CaretCircleDoubleLeft:before {
    content: "\f1df";
}
.icon-CaretCircleDoubleRight:before {
    content: "\f1e0";
}
.icon-CaretCircleDoubleUp:before {
    content: "\f1e1";
}
.icon-CaretCircleDown:before {
    content: "\f1e2";
}
.icon-CaretCircleLeft:before {
    content: "\f1e3";
}
.icon-CaretCircleRight:before {
    content: "\f1e4";
}
.icon-CaretCircleUp:before {
    content: "\f1e5";
}
.icon-CaretDoubleDown:before {
    content: "\f1e6";
}
.icon-CaretDoubleLeft:before {
    content: "\f1e7";
}
.icon-CaretDoubleRight:before {
    content: "\f1e8";
}
.icon-CaretDoubleUp:before {
    content: "\f1e9";
}
.icon-CaretDown:before {
    content: "\f1ea";
}
.icon-CaretLeft:before {
    content: "\f1eb";
}
.icon-CaretRight:before {
    content: "\f1ec";
}
.icon-CaretUp:before {
    content: "\f1ed";
}
.icon-CarSimple:before {
    content: "\f1ee";
}
.icon-Cat:before {
    content: "\f1ef";
}
.icon-CellSignalFull:before {
    content: "\f1f0";
}
.icon-CellSignalHigh:before {
    content: "\f1f1";
}
.icon-CellSignalLow:before {
    content: "\f1f2";
}
.icon-CellSignalMedium:before {
    content: "\f1f3";
}
.icon-CellSignalNone:before {
    content: "\f1f4";
}
.icon-CellSignalSlash:before {
    content: "\f1f5";
}
.icon-CellSignalX:before {
    content: "\f1f6";
}
.icon-Chalkboard:before {
    content: "\f1f7";
}
.icon-ChalkboardSimple:before {
    content: "\f1f8";
}
.icon-ChalkboardTeacher:before {
    content: "\f1f9";
}
.icon-ChartBar:before {
    content: "\f1fa";
}
.icon-ChartBarHorizontal:before {
    content: "\f1fb";
}
.icon-ChartLine:before {
    content: "\f1fc";
}
.icon-ChartLineUp:before {
    content: "\f1fd";
}
.icon-ChartPie:before {
    content: "\f1fe";
}
.icon-ChartPieSlice:before {
    content: "\f1ff";
}
.icon-Chat:before {
    content: "\f200";
}
.icon-ChatCentered:before {
    content: "\f201";
}
.icon-ChatCenteredDots:before {
    content: "\f202";
}
.icon-ChatCenteredText:before {
    content: "\f203";
}
.icon-ChatCircle:before {
    content: "\f204";
}
.icon-ChatCircleDots:before {
    content: "\f205";
}
.icon-ChatCircleText:before {
    content: "\f206";
}
.icon-ChatDots:before {
    content: "\f207";
}
.icon-Chats:before {
    content: "\f208";
}
.icon-ChatsCircle:before {
    content: "\f209";
}
.icon-ChatsTeardrop:before {
    content: "\f20a";
}
.icon-ChatTeardrop:before {
    content: "\f20b";
}
.icon-ChatTeardropDots:before {
    content: "\f20c";
}
.icon-ChatTeardropText:before {
    content: "\f20d";
}
.icon-ChatText:before {
    content: "\f20e";
}
.icon-Check:before {
    content: "\f20f";
}
.icon-CheckCircle:before {
    content: "\f210";
}
.icon-Checks:before {
    content: "\f211";
}
.icon-CheckSquare:before {
    content: "\f212";
}
.icon-CheckSquareOffset:before {
    content: "\f213";
}
.icon-Circle:before {
    content: "\f214";
}
.icon-CircleDashed:before {
    content: "\f215";
}
.icon-CircleHalf:before {
    content: "\f216";
}
.icon-CircleHalfTilt:before {
    content: "\f217";
}
.icon-CircleNotch:before {
    content: "\f218";
}
.icon-CirclesFour:before {
    content: "\f219";
}
.icon-CirclesThree:before {
    content: "\f21a";
}
.icon-CirclesThreePlus:before {
    content: "\f21b";
}
.icon-CircleWavy:before {
    content: "\f21c";
}
.icon-CircleWavyCheck:before {
    content: "\f21d";
}
.icon-CircleWavyQuestion:before {
    content: "\f21e";
}
.icon-CircleWavyWarning:before {
    content: "\f21f";
}
.icon-Clipboard:before {
    content: "\f220";
}
.icon-ClipboardText:before {
    content: "\f221";
}
.icon-Clock:before {
    content: "\f222";
}
.icon-ClockAfternoon:before {
    content: "\f223";
}
.icon-ClockClockwise:before {
    content: "\f224";
}
.icon-ClockCounterClockwise:before {
    content: "\f225";
}
.icon-ClosedCaptioning:before {
    content: "\f226";
}
.icon-Cloud:before {
    content: "\f227";
}
.icon-CloudArrowDown:before {
    content: "\f228";
}
.icon-CloudArrowUp:before {
    content: "\f229";
}
.icon-CloudCheck:before {
    content: "\f22a";
}
.icon-CloudFog:before {
    content: "\f22b";
}
.icon-CloudLightning:before {
    content: "\f22c";
}
.icon-CloudMoon:before {
    content: "\f22d";
}
.icon-CloudRain:before {
    content: "\f22e";
}
.icon-CloudSlash:before {
    content: "\f22f";
}
.icon-CloudSnow:before {
    content: "\f230";
}
.icon-CloudSun:before {
    content: "\f231";
}
.icon-Club:before {
    content: "\f232";
}
.icon-CoatHanger:before {
    content: "\f233";
}
.icon-Code:before {
    content: "\f234";
}
.icon-CodepenLogo:before {
    content: "\f235";
}
.icon-CodesandboxLogo:before {
    content: "\f236";
}
.icon-CodeSimple:before {
    content: "\f237";
}
.icon-Coffee:before {
    content: "\f238";
}
.icon-Coin:before {
    content: "\f239";
}
.icon-Coins:before {
    content: "\f23a";
}
.icon-CoinVertical:before {
    content: "\f23b";
}
.icon-Columns:before {
    content: "\f23c";
}
.icon-Command:before {
    content: "\f23d";
}
.icon-Compass:before {
    content: "\f23e";
}
.icon-ComputerTower:before {
    content: "\f23f";
}
.icon-Confetti:before {
    content: "\f240";
}
.icon-Cookie:before {
    content: "\f241";
}
.icon-CookingPot:before {
    content: "\f242";
}
.icon-Copy:before {
    content: "\f243";
}
.icon-Copyleft:before {
    content: "\f244";
}
.icon-Copyright:before {
    content: "\f245";
}
.icon-CopySimple:before {
    content: "\f246";
}
.icon-CornersIn:before {
    content: "\f247";
}
.icon-CornersOut:before {
    content: "\f248";
}
.icon-Cpu:before {
    content: "\f249";
}
.icon-CreditCard:before {
    content: "\f24a";
}
.icon-Crop:before {
    content: "\f24b";
}
.icon-Crosshair:before {
    content: "\f24c";
}
.icon-CrosshairSimple:before {
    content: "\f24d";
}
.icon-Crown:before {
    content: "\f24e";
}
.icon-CrownSimple:before {
    content: "\f24f";
}
.icon-Cube:before {
    content: "\f250";
}
.icon-CurrencyBtc:before {
    content: "\f251";
}
.icon-CurrencyCircleDollar:before {
    content: "\f252";
}
.icon-CurrencyCny:before {
    content: "\f253";
}
.icon-CurrencyDollar:before {
    content: "\f254";
}
.icon-CurrencyDollarSimple:before {
    content: "\f255";
}
.icon-CurrencyEth:before {
    content: "\f256";
}
.icon-CurrencyEur:before {
    content: "\f257";
}
.icon-CurrencyGbp:before {
    content: "\f258";
}
.icon-CurrencyInr:before {
    content: "\f259";
}
.icon-CurrencyJpy:before {
    content: "\f25a";
}
.icon-CurrencyKrw:before {
    content: "\f25b";
}
.icon-CurrencyKzt:before {
    content: "\f25c";
}
.icon-CurrencyNgn:before {
    content: "\f25d";
}
.icon-CurrencyRub:before {
    content: "\f25e";
}
.icon-Cursor:before {
    content: "\f25f";
}
.icon-CursorText:before {
    content: "\f260";
}
.icon-Cylinder:before {
    content: "\f261";
}
.icon-Database:before {
    content: "\f262";
}
.icon-Desktop:before {
    content: "\f263";
}
.icon-DesktopTower:before {
    content: "\f264";
}
.icon-Detective:before {
    content: "\f265";
}
.icon-DeviceMobile:before {
    content: "\f266";
}
.icon-DeviceMobileCamera:before {
    content: "\f267";
}
.icon-DeviceMobileSpeaker:before {
    content: "\f268";
}
.icon-DeviceTablet:before {
    content: "\f269";
}
.icon-DeviceTabletCamera:before {
    content: "\f26a";
}
.icon-DeviceTabletSpeaker:before {
    content: "\f26b";
}
.icon-Diamond:before {
    content: "\f26c";
}
.icon-DiamondsFour:before {
    content: "\f26d";
}
.icon-DiceFive:before {
    content: "\f26e";
}
.icon-DiceFour:before {
    content: "\f26f";
}
.icon-DiceOne:before {
    content: "\f270";
}
.icon-DiceSix:before {
    content: "\f271";
}
.icon-DiceThree:before {
    content: "\f272";
}
.icon-DiceTwo:before {
    content: "\f273";
}
.icon-Disc:before {
    content: "\f274";
}
.icon-DiscordLogo:before {
    content: "\f275";
}
.icon-Divide:before {
    content: "\f276";
}
.icon-Dog:before {
    content: "\f277";
}
.icon-Door:before {
    content: "\f278";
}
.icon-DotsNine:before {
    content: "\f279";
}
.icon-DotsSix:before {
    content: "\f27a";
}
.icon-DotsSixVertical:before {
    content: "\f27b";
}
.icon-DotsThree:before {
    content: "\f27c";
}
.icon-DotsThreeCircle:before {
    content: "\f27d";
}
.icon-DotsThreeCircleVertical:before {
    content: "\f27e";
}
.icon-DotsThreeOutline:before {
    content: "\f27f";
}
.icon-DotsThreeOutlineVertical:before {
    content: "\f280";
}
.icon-DotsThreeVertical:before {
    content: "\f281";
}
.icon-Download:before {
    content: "\f282";
}
.icon-DownloadSimple:before {
    content: "\f283";
}
.icon-DribbbleLogo:before {
    content: "\f284";
}
.icon-Drop:before {
    content: "\f285";
}
.icon-DropHalf:before {
    content: "\f286";
}
.icon-DropHalfBottom:before {
    content: "\f287";
}
.icon-Ear:before {
    content: "\f288";
}
.icon-EarSlash:before {
    content: "\f289";
}
.icon-Egg:before {
    content: "\f28a";
}
.icon-EggCrack:before {
    content: "\f28b";
}
.icon-Eject:before {
    content: "\f28c";
}
.icon-EjectSimple:before {
    content: "\f28d";
}
.icon-Envelope:before {
    content: "\f28e";
}
.icon-EnvelopeOpen:before {
    content: "\f28f";
}
.icon-EnvelopeSimple:before {
    content: "\f290";
}
.icon-EnvelopeSimpleOpen:before {
    content: "\f291";
}
.icon-Equalizer:before {
    content: "\f292";
}
.icon-Equals:before {
    content: "\f293";
}
.icon-Eraser:before {
    content: "\f294";
}
.icon-Exam:before {
    content: "\f295";
}
.icon-Export:before {
    content: "\f296";
}
.icon-Eye:before {
    content: "\f297";
}
.icon-EyeClosed:before {
    content: "\f298";
}
.icon-Eyedropper:before {
    content: "\f299";
}
.icon-EyedropperSample:before {
    content: "\f29a";
}
.icon-Eyeglasses:before {
    content: "\f29b";
}
.icon-EyeSlash:before {
    content: "\f29c";
}
.icon-FacebookLogo:before {
    content: "\f29d";
}
.icon-FaceMask:before {
    content: "\f29e";
}
.icon-Factory:before {
    content: "\f29f";
}
.icon-Faders:before {
    content: "\f2a0";
}
.icon-FadersHorizontal:before {
    content: "\f2a1";
}
.icon-FastForward:before {
    content: "\f2a2";
}
.icon-FastForwardCircle:before {
    content: "\f2a3";
}
.icon-FigmaLogo:before {
    content: "\f2a4";
}
.icon-File:before {
    content: "\f2a5";
}
.icon-FileArrowDown:before {
    content: "\f2a6";
}
.icon-FileArrowUp:before {
    content: "\f2a7";
}
.icon-FileAudio:before {
    content: "\f2a8";
}
.icon-FileCloud:before {
    content: "\f2a9";
}
.icon-FileCode:before {
    content: "\f2aa";
}
.icon-FileCss:before {
    content: "\f2ab";
}
.icon-FileCsv:before {
    content: "\f2ac";
}
.icon-FileDoc:before {
    content: "\f2ad";
}
.icon-FileDotted:before {
    content: "\f2ae";
}
.icon-FileHtml:before {
    content: "\f2af";
}
.icon-FileImage:before {
    content: "\f2b0";
}
.icon-FileJpg:before {
    content: "\f2b1";
}
.icon-FileJs:before {
    content: "\f2b2";
}
.icon-FileJsx:before {
    content: "\f2b3";
}
.icon-FileLock:before {
    content: "\f2b4";
}
.icon-FileMinus:before {
    content: "\f2b5";
}
.icon-FilePdf:before {
    content: "\f2b6";
}
.icon-FilePlus:before {
    content: "\f2b7";
}
.icon-FilePng:before {
    content: "\f2b8";
}
.icon-FilePpt:before {
    content: "\f2b9";
}
.icon-FileRs:before {
    content: "\f2ba";
}
.icon-Files:before {
    content: "\f2bb";
}
.icon-FileSearch:before {
    content: "\f2bc";
}
.icon-FileText:before {
    content: "\f2bd";
}
.icon-FileTs:before {
    content: "\f2be";
}
.icon-FileTsx:before {
    content: "\f2bf";
}
.icon-FileVideo:before {
    content: "\f2c0";
}
.icon-FileVue:before {
    content: "\f2c1";
}
.icon-FileX:before {
    content: "\f2c2";
}
.icon-FileXls:before {
    content: "\f2c3";
}
.icon-FileZip:before {
    content: "\f2c4";
}
.icon-FilmScript:before {
    content: "\f2c5";
}
.icon-FilmSlate:before {
    content: "\f2c6";
}
.icon-FilmStrip:before {
    content: "\f2c7";
}
.icon-Fingerprint:before {
    content: "\f2c8";
}
.icon-FingerprintSimple:before {
    content: "\f2c9";
}
.icon-FinnTheHuman:before {
    content: "\f2ca";
}
.icon-Fire:before {
    content: "\f2cb";
}
.icon-FireSimple:before {
    content: "\f2cc";
}
.icon-FirstAid:before {
    content: "\f2cd";
}
.icon-FirstAidKit:before {
    content: "\f2ce";
}
.icon-Fish:before {
    content: "\f2cf";
}
.icon-FishSimple:before {
    content: "\f2d0";
}
.icon-Flag:before {
    content: "\f2d1";
}
.icon-FlagBanner:before {
    content: "\f2d2";
}
.icon-FlagCheckered:before {
    content: "\f2d3";
}
.icon-Flame:before {
    content: "\f2d4";
}
.icon-Flashlight:before {
    content: "\f2d5";
}
.icon-Flask:before {
    content: "\f2d6";
}
.icon-FloppyDisk:before {
    content: "\f2d7";
}
.icon-FloppyDiskBack:before {
    content: "\f2d8";
}
.icon-FlowArrow:before {
    content: "\f2d9";
}
.icon-Flower:before {
    content: "\f2da";
}
.icon-FlowerLotus:before {
    content: "\f2db";
}
.icon-FlyingSaucer:before {
    content: "\f2dc";
}
.icon-Folder:before {
    content: "\f2dd";
}
.icon-FolderDotted:before {
    content: "\f2de";
}
.icon-FolderLock:before {
    content: "\f2df";
}
.icon-FolderMinus:before {
    content: "\f2e0";
}
.icon-FolderNotch:before {
    content: "\f2e1";
}
.icon-FolderNotchMinus:before {
    content: "\f2e2";
}
.icon-FolderNotchOpen:before {
    content: "\f2e3";
}
.icon-FolderNotchPlus:before {
    content: "\f2e4";
}
.icon-FolderOpen:before {
    content: "\f2e5";
}
.icon-FolderPlus:before {
    content: "\f2e6";
}
.icon-Folders:before {
    content: "\f2e7";
}
.icon-FolderSimple:before {
    content: "\f2e8";
}
.icon-FolderSimpleDotted:before {
    content: "\f2e9";
}
.icon-FolderSimpleLock:before {
    content: "\f2ea";
}
.icon-FolderSimpleMinus:before {
    content: "\f2eb";
}
.icon-FolderSimplePlus:before {
    content: "\f2ec";
}
.icon-FolderSimpleStar:before {
    content: "\f2ed";
}
.icon-FolderSimpleUser:before {
    content: "\f2ee";
}
.icon-FolderStar:before {
    content: "\f2ef";
}
.icon-FolderUser:before {
    content: "\f2f0";
}
.icon-Football:before {
    content: "\f2f1";
}
.icon-ForkKnife:before {
    content: "\f2f2";
}
.icon-FrameCorners:before {
    content: "\f2f3";
}
.icon-FramerLogo:before {
    content: "\f2f4";
}
.icon-Function:before {
    content: "\f2f5";
}
.icon-Funnel:before {
    content: "\f2f6";
}
.icon-FunnelSimple:before {
    content: "\f2f7";
}
.icon-GameController:before {
    content: "\f2f8";
}
.icon-GasPump:before {
    content: "\f2f9";
}
.icon-Gauge:before {
    content: "\f2fa";
}
.icon-Gear:before {
    content: "\f2fb";
}
.icon-GearSix:before {
    content: "\f2fc";
}
.icon-GenderFemale:before {
    content: "\f2fd";
}
.icon-GenderIntersex:before {
    content: "\f2fe";
}
.icon-GenderMale:before {
    content: "\f2ff";
}
.icon-GenderNeuter:before {
    content: "\f300";
}
.icon-GenderNonbinary:before {
    content: "\f301";
}
.icon-GenderTransgender:before {
    content: "\f302";
}
.icon-Ghost:before {
    content: "\f303";
}
.icon-Gif:before {
    content: "\f304";
}
.icon-Gift:before {
    content: "\f305";
}
.icon-GitBranch:before {
    content: "\f306";
}
.icon-GitCommit:before {
    content: "\f307";
}
.icon-GitDiff:before {
    content: "\f308";
}
.icon-GitFork:before {
    content: "\f309";
}
.icon-GithubLogo:before {
    content: "\f30a";
}
.icon-GitlabLogo:before {
    content: "\f30b";
}
.icon-GitlabLogoSimple:before {
    content: "\f30c";
}
.icon-GitMerge:before {
    content: "\f30d";
}
.icon-GitPullRequest:before {
    content: "\f30e";
}
.icon-Globe:before {
    content: "\f30f";
}
.icon-GlobeHemisphereEast:before {
    content: "\f310";
}
.icon-GlobeHemisphereWest:before {
    content: "\f311";
}
.icon-GlobeSimple:before {
    content: "\f312";
}
.icon-GlobeStand:before {
    content: "\f313";
}
.icon-GoogleChromeLogo:before {
    content: "\f314";
}
.icon-GoogleLogo:before {
    content: "\f315";
}
.icon-GooglePhotosLogo:before {
    content: "\f316";
}
.icon-GooglePlayLogo:before {
    content: "\f317";
}
.icon-GooglePodcastsLogo:before {
    content: "\f318";
}
.icon-Gradient:before {
    content: "\f319";
}
.icon-GraduationCap:before {
    content: "\f31a";
}
.icon-Graph:before {
    content: "\f31b";
}
.icon-GridFour:before {
    content: "\f31c";
}
.icon-Hamburger:before {
    content: "\f31d";
}
.icon-Hand:before {
    content: "\f31e";
}
.icon-Handbag:before {
    content: "\f31f";
}
.icon-HandbagSimple:before {
    content: "\f320";
}
.icon-HandEye:before {
    content: "\f321";
}
.icon-HandFist:before {
    content: "\f322";
}
.icon-HandGrabbing:before {
    content: "\f323";
}
.icon-HandPalm:before {
    content: "\f324";
}
.icon-HandPointing:before {
    content: "\f325";
}
.icon-HandsClapping:before {
    content: "\f326";
}
.icon-Handshake:before {
    content: "\f327";
}
.icon-HandSoap:before {
    content: "\f328";
}
.icon-HandWaving:before {
    content: "\f329";
}
.icon-HardDrive:before {
    content: "\f32a";
}
.icon-HardDrives:before {
    content: "\f32b";
}
.icon-Hash:before {
    content: "\f32c";
}
.icon-HashStraight:before {
    content: "\f32d";
}
.icon-Headlights:before {
    content: "\f32e";
}
.icon-Headphones:before {
    content: "\f32f";
}
.icon-Headset:before {
    content: "\f330";
}
.icon-Heart:before {
    content: "\f331";
}
.icon-Heartbeat:before {
    content: "\f332";
}
.icon-HeartBreak:before {
    content: "\f333";
}
.icon-HeartStraight:before {
    content: "\f334";
}
.icon-HeartStraightBreak:before {
    content: "\f335";
}
.icon-Hexagon:before {
    content: "\f336";
}
.icon-HighlighterCircle:before {
    content: "\f337";
}
.icon-Horse:before {
    content: "\f338";
}
.icon-Hourglass:before {
    content: "\f339";
}
.icon-HourglassHigh:before {
    content: "\f33a";
}
.icon-HourglassLow:before {
    content: "\f33b";
}
.icon-HourglassMedium:before {
    content: "\f33c";
}
.icon-HourglassSimple:before {
    content: "\f33d";
}
.icon-HourglassSimpleHigh:before {
    content: "\f33e";
}
.icon-HourglassSimpleLow:before {
    content: "\f33f";
}
.icon-HourglassSimpleMedium:before {
    content: "\f340";
}
.icon-House:before {
    content: "\f341";
}
.icon-HouseLine:before {
    content: "\f342";
}
.icon-HouseSimple:before {
    content: "\f343";
}
.icon-IdentificationBadge:before {
    content: "\f344";
}
.icon-IdentificationCard:before {
    content: "\f345";
}
.icon-Image:before {
    content: "\f346";
}
.icon-ImageSquare:before {
    content: "\f347";
}
.icon-Infinity:before {
    content: "\f348";
}
.icon-Info:before {
    content: "\f349";
}
.icon-InstagramLogo:before {
    content: "\f34a";
}
.icon-Intersect:before {
    content: "\f34b";
}
.icon-Jeep:before {
    content: "\f34c";
}
.icon-Kanban:before {
    content: "\f34d";
}
.icon-Key:before {
    content: "\f34e";
}
.icon-Keyboard:before {
    content: "\f34f";
}
.icon-Keyhole:before {
    content: "\f350";
}
.icon-KeyReturn:before {
    content: "\f351";
}
.icon-Knife:before {
    content: "\f352";
}
.icon-Ladder:before {
    content: "\f353";
}
.icon-LadderSimple:before {
    content: "\f354";
}
.icon-Lamp:before {
    content: "\f355";
}
.icon-Laptop:before {
    content: "\f356";
}
.icon-Layout:before {
    content: "\f357";
}
.icon-Leaf:before {
    content: "\f358";
}
.icon-Lifebuoy:before {
    content: "\f359";
}
.icon-Lightbulb:before {
    content: "\f35a";
}
.icon-LightbulbFilament:before {
    content: "\f35b";
}
.icon-Lightning:before {
    content: "\f35c";
}
.icon-LightningSlash:before {
    content: "\f35d";
}
.icon-LineSegment:before {
    content: "\f35e";
}
.icon-LineSegments:before {
    content: "\f35f";
}
.icon-Link:before {
    content: "\f360";
}
.icon-LinkBreak:before {
    content: "\f361";
}
.icon-LinkedinLogo:before {
    content: "\f362";
}
.icon-LinkSimple:before {
    content: "\f363";
}
.icon-LinkSimpleBreak:before {
    content: "\f364";
}
.icon-LinkSimpleHorizontal:before {
    content: "\f365";
}
.icon-LinkSimpleHorizontalBreak:before {
    content: "\f366";
}
.icon-LinuxLogo:before {
    content: "\f367";
}
.icon-List:before {
    content: "\f368";
}
.icon-ListBullets:before {
    content: "\f369";
}
.icon-ListChecks:before {
    content: "\f36a";
}
.icon-ListDashes:before {
    content: "\f36b";
}
.icon-ListNumbers:before {
    content: "\f36c";
}
.icon-ListPlus:before {
    content: "\f36d";
}
.icon-Lock:before {
    content: "\f36e";
}
.icon-LockKey:before {
    content: "\f36f";
}
.icon-LockKeyOpen:before {
    content: "\f370";
}
.icon-LockLaminated:before {
    content: "\f371";
}
.icon-LockLaminatedOpen:before {
    content: "\f372";
}
.icon-LockOpen:before {
    content: "\f373";
}
.icon-LockSimple:before {
    content: "\f374";
}
.icon-LockSimpleOpen:before {
    content: "\f375";
}
.icon-MagicWand:before {
    content: "\f376";
}
.icon-Magnet:before {
    content: "\f377";
}
.icon-MagnetStraight:before {
    content: "\f378";
}
.icon-MagnifyingGlass:before {
    content: "\f379";
}
.icon-MagnifyingGlassMinus:before {
    content: "\f37a";
}
.icon-MagnifyingGlassPlus:before {
    content: "\f37b";
}
.icon-MapPin:before {
    content: "\f37c";
}
.icon-MapPinLine:before {
    content: "\f37d";
}
.icon-MapTrifold:before {
    content: "\f37e";
}
.icon-MarkerCircle:before {
    content: "\f37f";
}
.icon-Martini:before {
    content: "\f380";
}
.icon-MaskHappy:before {
    content: "\f381";
}
.icon-MaskSad:before {
    content: "\f382";
}
.icon-MathOperations:before {
    content: "\f383";
}
.icon-Medal:before {
    content: "\f384";
}
.icon-MediumLogo:before {
    content: "\f385";
}
.icon-Megaphone:before {
    content: "\f386";
}
.icon-MegaphoneSimple:before {
    content: "\f387";
}
.icon-MessengerLogo:before {
    content: "\f388";
}
.icon-Microphone:before {
    content: "\f389";
}
.icon-MicrophoneSlash:before {
    content: "\f38a";
}
.icon-MicrophoneStage:before {
    content: "\f38b";
}
.icon-MicrosoftExcelLogo:before {
    content: "\f38c";
}
.icon-MicrosoftPowerpointLogo:before {
    content: "\f38d";
}
.icon-MicrosoftTeamsLogo:before {
    content: "\f38e";
}
.icon-MicrosoftWordLogo:before {
    content: "\f38f";
}
.icon-Minus:before {
    content: "\f390";
}
.icon-MinusCircle:before {
    content: "\f391";
}
.icon-Money:before {
    content: "\f392";
}
.icon-Monitor:before {
    content: "\f393";
}
.icon-MonitorPlay:before {
    content: "\f394";
}
.icon-Moon:before {
    content: "\f395";
}
.icon-MoonStars:before {
    content: "\f396";
}
.icon-Mountains:before {
    content: "\f397";
}
.icon-Mouse:before {
    content: "\f398";
}
.icon-MouseSimple:before {
    content: "\f399";
}
.icon-MusicNote:before {
    content: "\f39a";
}
.icon-MusicNotes:before {
    content: "\f39b";
}
.icon-MusicNoteSimple:before {
    content: "\f39c";
}
.icon-MusicNotesPlus:before {
    content: "\f39d";
}
.icon-MusicNotesSimple:before {
    content: "\f39e";
}
.icon-NavigationArrow:before {
    content: "\f39f";
}
.icon-Needle:before {
    content: "\f3a0";
}
.icon-Newspaper:before {
    content: "\f3a1";
}
.icon-NewspaperClipping:before {
    content: "\f3a2";
}
.icon-Note:before {
    content: "\f3a3";
}
.icon-NoteBlank:before {
    content: "\f3a4";
}
.icon-Notebook:before {
    content: "\f3a5";
}
.icon-Notepad:before {
    content: "\f3a6";
}
.icon-NotePencil:before {
    content: "\f3a7";
}
.icon-Notification:before {
    content: "\f3a8";
}
.icon-NumberCircleEight:before {
    content: "\f3a9";
}
.icon-NumberCircleFive:before {
    content: "\f3aa";
}
.icon-NumberCircleFour:before {
    content: "\f3ab";
}
.icon-NumberCircleNine:before {
    content: "\f3ac";
}
.icon-NumberCircleOne:before {
    content: "\f3ad";
}
.icon-NumberCircleSeven:before {
    content: "\f3ae";
}
.icon-NumberCircleSix:before {
    content: "\f3af";
}
.icon-NumberCircleThree:before {
    content: "\f3b0";
}
.icon-NumberCircleTwo:before {
    content: "\f3b1";
}
.icon-NumberCircleZero:before {
    content: "\f3b2";
}
.icon-NumberEight:before {
    content: "\f3b3";
}
.icon-NumberFive:before {
    content: "\f3b4";
}
.icon-NumberFour:before {
    content: "\f3b5";
}
.icon-NumberNine:before {
    content: "\f3b6";
}
.icon-NumberOne:before {
    content: "\f3b7";
}
.icon-NumberSeven:before {
    content: "\f3b8";
}
.icon-NumberSix:before {
    content: "\f3b9";
}
.icon-NumberSquareEight:before {
    content: "\f3ba";
}
.icon-NumberSquareFive:before {
    content: "\f3bb";
}
.icon-NumberSquareFour:before {
    content: "\f3bc";
}
.icon-NumberSquareNine:before {
    content: "\f3bd";
}
.icon-NumberSquareOne:before {
    content: "\f3be";
}
.icon-NumberSquareSeven:before {
    content: "\f3bf";
}
.icon-NumberSquareSix:before {
    content: "\f3c0";
}
.icon-NumberSquareThree:before {
    content: "\f3c1";
}
.icon-NumberSquareTwo:before {
    content: "\f3c2";
}
.icon-NumberSquareZero:before {
    content: "\f3c3";
}
.icon-NumberThree:before {
    content: "\f3c4";
}
.icon-NumberTwo:before {
    content: "\f3c5";
}
.icon-NumberZero:before {
    content: "\f3c6";
}
.icon-Nut:before {
    content: "\f3c7";
}
.icon-NyTimesLogo:before {
    content: "\f3c8";
}
.icon-Octagon:before {
    content: "\f3c9";
}
.icon-Option:before {
    content: "\f3ca";
}
.icon-Package:before {
    content: "\f3cb";
}
.icon-PaintBrush:before {
    content: "\f3cc";
}
.icon-PaintBrushBroad:before {
    content: "\f3cd";
}
.icon-PaintBrushHousehold:before {
    content: "\f3ce";
}
.icon-PaintBucket:before {
    content: "\f3cf";
}
.icon-PaintRoller:before {
    content: "\f3d0";
}
.icon-Palette:before {
    content: "\f3d1";
}
.icon-Paperclip:before {
    content: "\f3d2";
}
.icon-PaperclipHorizontal:before {
    content: "\f3d3";
}
.icon-PaperPlane:before {
    content: "\f3d4";
}
.icon-PaperPlaneRight:before {
    content: "\f3d5";
}
.icon-PaperPlaneTilt:before {
    content: "\f3d6";
}
.icon-Parachute:before {
    content: "\f3d7";
}
.icon-Password:before {
    content: "\f3d8";
}
.icon-Path:before {
    content: "\f3d9";
}
.icon-Pause:before {
    content: "\f3da";
}
.icon-PauseCircle:before {
    content: "\f3db";
}
.icon-PawPrint:before {
    content: "\f3dc";
}
.icon-Peace:before {
    content: "\f3dd";
}
.icon-Pen:before {
    content: "\f3de";
}
.icon-Pencil:before {
    content: "\f3df";
}
.icon-PencilCircle:before {
    content: "\f3e0";
}
.icon-PencilLine:before {
    content: "\f3e1";
}
.icon-PencilSimple:before {
    content: "\f3e2";
}
.icon-PencilSimpleLine:before {
    content: "\f3e3";
}
.icon-PenNib:before {
    content: "\f3e4";
}
.icon-PenNibStraight:before {
    content: "\f3e5";
}
.icon-Percent:before {
    content: "\f3e6";
}
.icon-Person:before {
    content: "\f3e7";
}
.icon-PersonSimple:before {
    content: "\f3e8";
}
.icon-PersonSimpleRun:before {
    content: "\f3e9";
}
.icon-PersonSimpleWalk:before {
    content: "\f3ea";
}
.icon-Perspective:before {
    content: "\f3eb";
}
.icon-Phone:before {
    content: "\f3ec";
}
.icon-PhoneCall:before {
    content: "\f3ed";
}
.icon-PhoneDisconnect:before {
    content: "\f3ee";
}
.icon-PhoneIncoming:before {
    content: "\f3ef";
}
.icon-PhoneOutgoing:before {
    content: "\f3f0";
}
.icon-PhoneSlash:before {
    content: "\f3f1";
}
.icon-PhoneX:before {
    content: "\f3f2";
}
.icon-PhosphorLogo:before {
    content: "\f3f3";
}
.icon-PianoKeys:before {
    content: "\f3f4";
}
.icon-PictureInPicture:before {
    content: "\f3f5";
}
.icon-Pill:before {
    content: "\f3f6";
}
.icon-PinterestLogo:before {
    content: "\f3f7";
}
.icon-Pinwheel:before {
    content: "\f3f8";
}
.icon-Pizza:before {
    content: "\f3f9";
}
.icon-Placeholder:before {
    content: "\f3fa";
}
.icon-Planet:before {
    content: "\f3fb";
}
.icon-Play:before {
    content: "\f3fc";
}
.icon-PlayCircle:before {
    content: "\f3fd";
}
.icon-Playlist:before {
    content: "\f3fe";
}
.icon-Plug:before {
    content: "\f3ff";
}
.icon-Plugs:before {
    content: "\f400";
}
.icon-PlugsConnected:before {
    content: "\f401";
}
.icon-Plus:before {
    content: "\f402";
}
.icon-PlusCircle:before {
    content: "\f403";
}
.icon-PlusMinus:before {
    content: "\f404";
}
.icon-PokerChip:before {
    content: "\f405";
}
.icon-PoliceCar:before {
    content: "\f406";
}
.icon-Polygon:before {
    content: "\f407";
}
.icon-Popcorn:before {
    content: "\f408";
}
.icon-Power:before {
    content: "\f409";
}
.icon-Prescription:before {
    content: "\f40a";
}
.icon-Presentation:before {
    content: "\f40b";
}
.icon-PresentationChart:before {
    content: "\f40c";
}
.icon-Printer:before {
    content: "\f40d";
}
.icon-Prohibit:before {
    content: "\f40e";
}
.icon-ProhibitInset:before {
    content: "\f40f";
}
.icon-ProjectorScreen:before {
    content: "\f410";
}
.icon-ProjectorScreenChart:before {
    content: "\f411";
}
.icon-PushPin:before {
    content: "\f412";
}
.icon-PushPinSimple:before {
    content: "\f413";
}
.icon-PushPinSimpleSlash:before {
    content: "\f414";
}
.icon-PushPinSlash:before {
    content: "\f415";
}
.icon-PuzzlePiece:before {
    content: "\f416";
}
.icon-QrCode:before {
    content: "\f417";
}
.icon-Question:before {
    content: "\f418";
}
.icon-Queue:before {
    content: "\f419";
}
.icon-Quotes:before {
    content: "\f41a";
}
.icon-Radical:before {
    content: "\f41b";
}
.icon-Radio:before {
    content: "\f41c";
}
.icon-RadioButton:before {
    content: "\f41d";
}
.icon-Rainbow:before {
    content: "\f41e";
}
.icon-RainbowCloud:before {
    content: "\f41f";
}
.icon-Receipt:before {
    content: "\f420";
}
.icon-Record:before {
    content: "\f421";
}
.icon-Rectangle:before {
    content: "\f422";
}
.icon-Recycle:before {
    content: "\f423";
}
.icon-RedditLogo:before {
    content: "\f424";
}
.icon-Repeat:before {
    content: "\f425";
}
.icon-RepeatOnce:before {
    content: "\f426";
}
.icon-Rewind:before {
    content: "\f427";
}
.icon-RewindCircle:before {
    content: "\f428";
}
.icon-Robot:before {
    content: "\f429";
}
.icon-Rocket:before {
    content: "\f42a";
}
.icon-RocketLaunch:before {
    content: "\f42b";
}
.icon-Rows:before {
    content: "\f42c";
}
.icon-Rss:before {
    content: "\f42d";
}
.icon-RssSimple:before {
    content: "\f42e";
}
.icon-Rug:before {
    content: "\f42f";
}
.icon-Ruler:before {
    content: "\f430";
}
.icon-Scales:before {
    content: "\f431";
}
.icon-Scan:before {
    content: "\f432";
}
.icon-Scissors:before {
    content: "\f433";
}
.icon-Screencast:before {
    content: "\f434";
}
.icon-ScribbleLoop:before {
    content: "\f435";
}
.icon-Scroll:before {
    content: "\f436";
}
.icon-Selection:before {
    content: "\f437";
}
.icon-SelectionAll:before {
    content: "\f438";
}
.icon-SelectionBackground:before {
    content: "\f439";
}
.icon-SelectionForeground:before {
    content: "\f43a";
}
.icon-SelectionInverse:before {
    content: "\f43b";
}
.icon-SelectionPlus:before {
    content: "\f43c";
}
.icon-SelectionSlash:before {
    content: "\f43d";
}
.icon-Share:before {
    content: "\f43e";
}
.icon-ShareNetwork:before {
    content: "\f43f";
}
.icon-Shield:before {
    content: "\f440";
}
.icon-ShieldCheck:before {
    content: "\f441";
}
.icon-ShieldCheckered:before {
    content: "\f442";
}
.icon-ShieldChevron:before {
    content: "\f443";
}
.icon-ShieldPlus:before {
    content: "\f444";
}
.icon-ShieldSlash:before {
    content: "\f445";
}
.icon-ShieldStar:before {
    content: "\f446";
}
.icon-ShieldWarning:before {
    content: "\f447";
}
.icon-ShoppingBag:before {
    content: "\f448";
}
.icon-ShoppingBagOpen:before {
    content: "\f449";
}
.icon-ShoppingCart:before {
    content: "\f44a";
}
.icon-ShoppingCartSimple:before {
    content: "\f44b";
}
.icon-Shower:before {
    content: "\f44c";
}
.icon-Shuffle:before {
    content: "\f44d";
}
.icon-ShuffleAngular:before {
    content: "\f44e";
}
.icon-ShuffleSimple:before {
    content: "\f44f";
}
.icon-Sidebar:before {
    content: "\f450";
}
.icon-SidebarSimple:before {
    content: "\f451";
}
.icon-SignIn:before {
    content: "\f452";
}
.icon-SignOut:before {
    content: "\f453";
}
.icon-Signpost:before {
    content: "\f454";
}
.icon-SimCard:before {
    content: "\f455";
}
.icon-SketchLogo:before {
    content: "\f456";
}
.icon-SkipBack:before {
    content: "\f457";
}
.icon-SkipBackCircle:before {
    content: "\f458";
}
.icon-SkipForward:before {
    content: "\f459";
}
.icon-SkipForwardCircle:before {
    content: "\f45a";
}
.icon-Skull:before {
    content: "\f45b";
}
.icon-SlackLogo:before {
    content: "\f45c";
}
.icon-Sliders:before {
    content: "\f45d";
}
.icon-SlidersHorizontal:before {
    content: "\f45e";
}
.icon-Smiley:before {
    content: "\f45f";
}
.icon-SmileyBlank:before {
    content: "\f460";
}
.icon-SmileyMeh:before {
    content: "\f461";
}
.icon-SmileyNervous:before {
    content: "\f462";
}
.icon-SmileySad:before {
    content: "\f463";
}
.icon-SmileySticker:before {
    content: "\f464";
}
.icon-SmileyWink:before {
    content: "\f465";
}
.icon-SmileyXEyes:before {
    content: "\f466";
}
.icon-SnapchatLogo:before {
    content: "\f467";
}
.icon-Snowflake:before {
    content: "\f468";
}
.icon-SoccerBall:before {
    content: "\f469";
}
.icon-SortAscending:before {
    content: "\f46a";
}
.icon-SortDescending:before {
    content: "\f46b";
}
.icon-Spade:before {
    content: "\f46c";
}
.icon-Sparkle:before {
    content: "\f46d";
}
.icon-SpeakerHigh:before {
    content: "\f46e";
}
.icon-SpeakerLow:before {
    content: "\f46f";
}
.icon-SpeakerNone:before {
    content: "\f470";
}
.icon-SpeakerSimpleHigh:before {
    content: "\f471";
}
.icon-SpeakerSimpleLow:before {
    content: "\f472";
}
.icon-SpeakerSimpleNone:before {
    content: "\f473";
}
.icon-SpeakerSimpleSlash:before {
    content: "\f474";
}
.icon-SpeakerSimpleX:before {
    content: "\f475";
}
.icon-SpeakerSlash:before {
    content: "\f476";
}
.icon-SpeakerX:before {
    content: "\f477";
}
.icon-Spinner:before {
    content: "\f478";
}
.icon-SpinnerGap:before {
    content: "\f479";
}
.icon-Spiral:before {
    content: "\f47a";
}
.icon-SpotifyLogo:before {
    content: "\f47b";
}
.icon-Square:before {
    content: "\f47c";
}
.icon-SquareHalf:before {
    content: "\f47d";
}
.icon-SquareHalfBottom:before {
    content: "\f47e";
}
.icon-SquareLogo:before {
    content: "\f47f";
}
.icon-SquaresFour:before {
    content: "\f480";
}
.icon-Stack:before {
    content: "\f481";
}
.icon-StackOverflowLogo:before {
    content: "\f482";
}
.icon-StackSimple:before {
    content: "\f483";
}
.icon-Stamp:before {
    content: "\f484";
}
.icon-Star:before {
    content: "\f485";
}
.icon-StarFour:before {
    content: "\f486";
}
.icon-StarHalf:before {
    content: "\f487";
}
.icon-Sticker:before {
    content: "\f488";
}
.icon-Stop:before {
    content: "\f489";
}
.icon-StopCircle:before {
    content: "\f48a";
}
.icon-Storefront:before {
    content: "\f48b";
}
.icon-Strategy:before {
    content: "\f48c";
}
.icon-StripeLogo:before {
    content: "\f48d";
}
.icon-Student:before {
    content: "\f48e";
}
.icon-Suitcase:before {
    content: "\f48f";
}
.icon-SuitcaseSimple:before {
    content: "\f490";
}
.icon-Sun:before {
    content: "\f491";
}
.icon-SunDim:before {
    content: "\f492";
}
.icon-Sunglasses:before {
    content: "\f493";
}
.icon-SunHorizon:before {
    content: "\f494";
}
.icon-Swap:before {
    content: "\f495";
}
.icon-Swatches:before {
    content: "\f496";
}
.icon-Sword:before {
    content: "\f497";
}
.icon-Syringe:before {
    content: "\f498";
}
.icon-Table:before {
    content: "\f499";
}
.icon-Tabs:before {
    content: "\f49a";
}
.icon-Tag:before {
    content: "\f49b";
}
.icon-TagChevron:before {
    content: "\f49c";
}
.icon-TagSimple:before {
    content: "\f49d";
}
.icon-Target:before {
    content: "\f49e";
}
.icon-Taxi:before {
    content: "\f49f";
}
.icon-TelegramLogo:before {
    content: "\f4a0";
}
.icon-Television:before {
    content: "\f4a1";
}
.icon-TelevisionSimple:before {
    content: "\f4a2";
}
.icon-TennisBall:before {
    content: "\f4a3";
}
.icon-Terminal:before {
    content: "\f4a4";
}
.icon-TerminalWindow:before {
    content: "\f4a5";
}
.icon-TestTube:before {
    content: "\f4a6";
}
.icon-TextAa:before {
    content: "\f4a7";
}
.icon-TextAlignCenter:before {
    content: "\f4a8";
}
.icon-TextAlignJustify:before {
    content: "\f4a9";
}
.icon-TextAlignLeft:before {
    content: "\f4aa";
}
.icon-TextAlignRight:before {
    content: "\f4ab";
}
.icon-TextBolder:before {
    content: "\f4ac";
}
.icon-Textbox:before {
    content: "\f4ad";
}
.icon-TextH:before {
    content: "\f4ae";
}
.icon-TextHFive:before {
    content: "\f4af";
}
.icon-TextHFour:before {
    content: "\f4b0";
}
.icon-TextHOne:before {
    content: "\f4b1";
}
.icon-TextHSix:before {
    content: "\f4b2";
}
.icon-TextHThree:before {
    content: "\f4b3";
}
.icon-TextHTwo:before {
    content: "\f4b4";
}
.icon-TextIndent:before {
    content: "\f4b5";
}
.icon-TextItalic:before {
    content: "\f4b6";
}
.icon-TextOutdent:before {
    content: "\f4b7";
}
.icon-TextStrikethrough:before {
    content: "\f4b8";
}
.icon-TextT:before {
    content: "\f4b9";
}
.icon-TextUnderline:before {
    content: "\f4ba";
}
.icon-Thermometer:before {
    content: "\f4bb";
}
.icon-ThermometerCold:before {
    content: "\f4bc";
}
.icon-ThermometerHot:before {
    content: "\f4bd";
}
.icon-ThermometerSimple:before {
    content: "\f4be";
}
.icon-ThumbsDown:before {
    content: "\f4bf";
}
.icon-ThumbsUp:before {
    content: "\f4c0";
}
.icon-Ticket:before {
    content: "\f4c1";
}
.icon-TiktokLogo:before {
    content: "\f4c2";
}
.icon-Timer:before {
    content: "\f4c3";
}
.icon-ToggleLeft:before {
    content: "\f4c4";
}
.icon-ToggleRight:before {
    content: "\f4c5";
}
.icon-Toilet:before {
    content: "\f4c6";
}
.icon-ToiletPaper:before {
    content: "\f4c7";
}
.icon-Tote:before {
    content: "\f4c8";
}
.icon-ToteSimple:before {
    content: "\f4c9";
}
.icon-TrademarkRegistered:before {
    content: "\f4ca";
}
.icon-TrafficCone:before {
    content: "\f4cb";
}
.icon-TrafficSign:before {
    content: "\f4cc";
}
.icon-TrafficSignal:before {
    content: "\f4cd";
}
.icon-Train:before {
    content: "\f4ce";
}
.icon-TrainRegional:before {
    content: "\f4cf";
}
.icon-TrainSimple:before {
    content: "\f4d0";
}
.icon-Translate:before {
    content: "\f4d1";
}
.icon-Trash:before {
    content: "\f4d2";
}
.icon-TrashSimple:before {
    content: "\f4d3";
}
.icon-Tray:before {
    content: "\f4d4";
}
.icon-Tree:before {
    content: "\f4d5";
}
.icon-TreeEvergreen:before {
    content: "\f4d6";
}
.icon-TreeStructure:before {
    content: "\f4d7";
}
.icon-TrendDown:before {
    content: "\f4d8";
}
.icon-TrendUp:before {
    content: "\f4d9";
}
.icon-Triangle:before {
    content: "\f4da";
}
.icon-Trophy:before {
    content: "\f4db";
}
.icon-Truck:before {
    content: "\f4dc";
}
.icon-TShirt:before {
    content: "\f4dd";
}
.icon-TwitchLogo:before {
    content: "\f4de";
}
.icon-TwitterLogo:before {
    content: "\f4df";
}
.icon-Umbrella:before {
    content: "\f4e0";
}
.icon-UmbrellaSimple:before {
    content: "\f4e1";
}
.icon-Upload:before {
    content: "\f4e2";
}
.icon-UploadSimple:before {
    content: "\f4e3";
}
.icon-User:before {
    content: "\f4e4";
}
.icon-UserCircle:before {
    content: "\f4e5";
}
.icon-UserCircleGear:before {
    content: "\f4e6";
}
.icon-UserCircleMinus:before {
    content: "\f4e7";
}
.icon-UserCirclePlus:before {
    content: "\f4e8";
}
.icon-UserFocus:before {
    content: "\f4e9";
}
.icon-UserGear:before {
    content: "\f4ea";
}
.icon-UserList:before {
    content: "\f4eb";
}
.icon-UserMinus:before {
    content: "\f4ec";
}
.icon-UserPlus:before {
    content: "\f4ed";
}
.icon-UserRectangle:before {
    content: "\f4ee";
}
.icon-Users:before {
    content: "\f4ef";
}
.icon-UsersFour:before {
    content: "\f4f0";
}
.icon-UserSquare:before {
    content: "\f4f1";
}
.icon-UsersThree:before {
    content: "\f4f2";
}
.icon-UserSwitch:before {
    content: "\f4f3";
}
.icon-Vault:before {
    content: "\f4f4";
}
.icon-Vibrate:before {
    content: "\f4f5";
}
.icon-VideoCamera:before {
    content: "\f4f6";
}
.icon-VideoCameraSlash:before {
    content: "\f4f7";
}
.icon-Vignette:before {
    content: "\f4f8";
}
.icon-Voicemail:before {
    content: "\f4f9";
}
.icon-Volleyball:before {
    content: "\f4fa";
}
.icon-Wall:before {
    content: "\f4fb";
}
.icon-Wallet:before {
    content: "\f4fc";
}
.icon-Warning:before {
    content: "\f4fd";
}
.icon-WarningCircle:before {
    content: "\f4fe";
}
.icon-WarningOctagon:before {
    content: "\f4ff";
}
.icon-Watch:before {
    content: "\f500";
}
.icon-Waves:before {
    content: "\f501";
}
.icon-WaveSawtooth:before {
    content: "\f502";
}
.icon-WaveSine:before {
    content: "\f503";
}
.icon-WaveSquare:before {
    content: "\f504";
}
.icon-WaveTriangle:before {
    content: "\f505";
}
.icon-Webcam:before {
    content: "\f506";
}
.icon-WhatsappLogo:before {
    content: "\f507";
}
.icon-Wheelchair:before {
    content: "\f508";
}
.icon-WifiHigh:before {
    content: "\f509";
}
.icon-WifiLow:before {
    content: "\f50a";
}
.icon-WifiMedium:before {
    content: "\f50b";
}
.icon-WifiNone:before {
    content: "\f50c";
}
.icon-WifiSlash:before {
    content: "\f50d";
}
.icon-WifiX:before {
    content: "\f50e";
}
.icon-Wind:before {
    content: "\f50f";
}
.icon-WindowsLogo:before {
    content: "\f510";
}
.icon-Wine:before {
    content: "\f511";
}
.icon-Wrench:before {
    content: "\f512";
}
.icon-X:before {
    content: "\f513";
}
.icon-XCircle:before {
    content: "\f514";
}
.icon-XSquare:before {
    content: "\f515";
}
.icon-YinYang:before {
    content: "\f516";
}
.icon-YoutubeLogo:before {
    content: "\f517";
}
